@font-face {
    font-family: 'Andrew';
    src: url('./SoundsGood.ttf');
}
body{
    font-family: 'Andrew';
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    width: 1240px;
    max-width: 90%;   
}
.flex-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 100px;
}
header{
    background-color: rgb(0, 0, 0);
    color: white;
    height: 100px;     
}
.lista-header>li{
    list-style-type: none;
    color: white;
}
.lista-header>li:hover{
    color: rgb(77, 77, 77);
}  
.lista-header{
    justify-content: space-between;
    display: flex;
    gap: 50px;
} 
.contato{
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 20px;
    width: 180px;
    display: flex;
    justify-content: center;
    border: 3px solid white
}
.Agenda{    
    display: flex;
    align-items: center;
    gap: 20px
}
.telefone{
    background-color: rgb(255, 255, 255);
    height: 45px;
    width: 45px;
    border-radius: 100px;
    justify-content: center;   
    display: flex; 
}    
.custom{
    height: 600px;
    background-image: url('./wave.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
.color{
    background-color: black;   
}
.contato:hover{
    background-color: rgb(255, 255, 255);
    color: black;
} 
.corpo{
    background-color: rgb(255, 255, 255);
}
.informacoes{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.linha1{
    width: 370px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.linha2{
    background-color: white;
    border-radius: 30px;
    width: 470px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;;
}
.linha3{
    background-color: rgb(55, 55, 55);
    border-radius: 30px;
    width: 220px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(16, 183, 254, 0.994) 0px 50px 100px -20px, rgba(1, 174, 255, 0.513) 0px 30px 60px -30px, rgba(80, 167, 255, 0.35) 0px -2px 6px 0px inset;;
}
.fotoaluno{
    border-radius: 100%;
    width: 330px;
    height: 330px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;;
}
.fotoredonda{
    border-radius: 100%;
}
.ladoesquerdo{
    gap: 30px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;    
} 
.texto1{
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 20px;
    margin-left: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.texto1 >h1{
    font-weight: 100;
}
.linha2 >h1{
    font-weight: 100;
}
.Robo{
    border-radius: 100%;
    width: 75px;
}
.iconerobo{
    border-radius: 100px;
}
.linha3 >h1{
    font-weight: bold;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.linha3 >h1:hover{
    color: cadetblue;
}
.linha3:hover{
    cursor: pointer;
    transform: scale(1.10);
    transition: ease-in-out 0.5s;
}
.saladeaula{
    border-radius: 30px;
}
.conteudo{
    padding-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap:50px    
}
.intro{
    background: linear-gradient(#4BDAE1,#37e6d5);
    width: 550px;
    height: 80px;
    border-radius: 10px;
    color: white;
    align-items: center; 
    justify-content: center; 
    display: flex;  
}
.quemsomos{
    text-align: center;
    font-weight: 100;    
    font-size: 40px;   
}
.titulolado2{
    font-weight: 200;
    font-size: 35px;
    padding-top: 30px;
    padding-bottom: 30px;
}
p{
    color: gray;
    font-size: 20px;
    padding-bottom: 30px;    
}
ul>li{
    color: gray;
}
.lista-alunos{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    gap: 30px;
    height: 300px;
}
.review-topo > h1{
    text-align: center;
    font-weight: 100;
    padding-top: 50px;
}
.review1, .review2, .review3{
    border: 2px solid rgb(4, 213, 255);
    display: flex;
    height: 250px;
    width: 410px;
    border-radius: 3%;
    align-items: center;
    justify-content: center;
    transition: transform .2s;
}
.depoimento{
    font-size: 14px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}
.review-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fotosreview{
    border-radius: 90%;
}
.review-pessoa{
    color: rgb(110, 110, 110);
    font-weight: 40;
    text-align: center;
}
.review1:hover, .review2:hover, .review3:hover {
    margin-bottom: 10px;
    transform: translateY(10px);
}
.cursos{
    background: linear-gradient(#4BDAE1,#37e6d5);
    width: 1240px;
    height: 80px;
    border-radius: 10px;
    color: white;
    align-items: center; 
    justify-content: center; 
    display: flex;
    font-size: 40px;
}
.cursos-profia{
    display: flex;
    background-color: chocolate;
    justify-content: space-around;
}
.cardbox{
    width: 520px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.cardbox:hover{
    background-color: azure;
}
.cardbox:hover .cardbox2{
    background-color: rgb(0, 225, 255);
    background-image: url("./foot-hover.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: all ease-in 0.5s;
}
.cardbox2{
    width: 230px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(118, 203, 220);
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(-40deg) translateY(60px);
    border-radius: 10px;
    background-image: url("./foot-sign-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-position: center;
}
#cursosprofia{
    margin-bottom: 300px;
}
.cursos, #avaliacao{
    background-color: chartreuse;
}






